.loader_container {
  z-index: 1;
  position: fixed;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  background-color: var(--background);
}

.loader {
  border: 0.5rem solid transparent;
  border-top: 0.5rem solid var(--accent);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
