.posts {
  width: 100%;

  &__author {
    display: flex;
    align-items: center;

    &_title {
        padding-left: 1rem;
    }

    &_name {
        padding-left: 0.5rem;
        width: 50%
    }
  }
  
  &__card {
    border-bottom: 1px solid var(--underline);
    padding-bottom: 1.5rem;
    width: 100%;
  }

  &__image {
    max-width: 100%;
  }

  &__title {
    font-size: 1.2rem;
    margin: 0 auto 0 auto;
    padding: 1rem 0;
    text-align: center;
    text-transform: capitalize;
  }

  &__cat-container {
    width: 95%;
    display: grid;
    grid-template-rows: repeat(5, 1.5rem);
    row-gap: 0;

    &-item {
        width: 100%;
        font-size: 1rem;
        padding: 0 0.2rem;
    }
  }

  &__excerpt {
    margin: 0 auto 0 auto;
    color: var(--text-secondary);
    width: 90%;
    padding-bottom: 1.3rem;
  }

  &__viewmore {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}
