.author {
    margin: 0;

    &_card {
        &_img {
            max-width: 100%;
        }
    
        &_title {
            font-size: 1rem;
        }
    }

    &_bio {
        font-size: 1rem;
    }
}

.posts {
    margin: 0;
    padding: 0 0 4.8rem 0;
    display: grid;
    grid-template-columns: 49.5vw 49.5vw; 
    column-gap: 1vw;
    row-gap: 1px;

    &_card {
        display: grid;

        &_title {
            height: 3.1rem;
            grid-row: 1;
            grid-column: 1;
            z-index: 1;
            backdrop-filter: blur(9px);
            align-self: center;

            &_txt {
                font-size: .85rem;
                margin: .3rem .1rem;
                text-align: center;
                text-shadow: 5px;
            }
        }

        &_img {
            grid-row: 1;
            grid-column: 1;
            width: 100%;
            height: 25vh;
            object-fit: cover;
            -webkit-filter: contrast(1.10);
            filter: contrast(1.10);
        }
    }
}