.author {
    margin: 0;
    width: 100%;
    display: grid;
    justify-content: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--tiny-border);

    &_card {
        margin: 2rem 0 1rem 0;
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        row-gap: .7rem;

        &_img {
            width: 20vw;
            height: auto;
            border-radius: 0.5rem;
            margin: 0 auto;
            max-width: 100%;
        }
    
        &_title {
            padding: 0 .5rem;
            justify-self: center;
           background-color: var(--background);
           z-index: 1;

           &_txt {
            font-size: 1.2rem;
            text-align: center;
           }
        }
    }

    &_bio {
        border: 1px solid var(--accent);
        border-radius: 0.5rem;
        padding: 1rem; 
        margin: -1.5rem 2rem 0 2rem;
    }

}

.posts {
    margin: 0;
    padding: 0 0 4.8rem 0;
    display: grid;
    grid-template-columns: 49.5vw 49.5vw; 
    column-gap: 1vw;
    row-gap: 1px;

    &_title {
        font-size: 1rem;
        text-align: center;
    }

    &_card {
        display: grid;
        align-items: center;

        &_title {
            height: 3.3rem;
            grid-row: 1;
            grid-column: 1;
            z-index: 1;
            backdrop-filter: blur(9px);
            display: flex;
            align-items: center;
            justify-content: center;

            &_txt {
                font-size: .85rem;
                margin: 0 .15rem;
                text-align: center;
                text-shadow: 5px;
            }
        }

        &_img {
            grid-row: 1;
            grid-column: 1;
            width: 100%;
            height: 25vh;
            object-fit: cover;
            -webkit-filter: contrast(1.10);
            filter: contrast(1.10);
        }
    }
}