.posts {
    margin: 0;
    padding: 0 0 4.8rem 0;
    display: grid;
    grid-template-columns: 49.5vw 49.5vw; 
    column-gap: 1vw;
    row-gap: 1px;

    &_title {
        font-size: 1rem;
        text-align: center;
    }

    &_card {
        display: grid;
        align-items: center;

        &_title {
            height: 3.3rem;
            grid-row: 1;
            grid-column: 1;
            z-index: 1;
            backdrop-filter: blur(9px);
            display: flex;
            align-items: center;
            justify-content: center;

            &_txt {
                color: var(--text-primary);
                font-size: .85rem;
                margin: 0 .15rem;
                text-align: center;
                text-shadow: 5px;
            }
        }

        &_img {
            grid-row: 1;
            grid-column: 1;
            width: 100%;
            height: 25vh;
            object-fit: cover;
            -webkit-filter: contrast(1.10);
            filter: contrast(1.10);
        }
    }
}