.user {
    margin: 0;
    width: 100%;
    display: grid;
    justify-content: center;
    padding: 4rem 0;
    border-bottom: 1px solid var(--tiny-border);

    &_card {
        margin: 2rem 0 1rem 0;
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        row-gap: .7rem;

        &_img {
            width: 20vw;
            height: auto;
            border-radius: 0.5rem;
            margin: 0 auto;
            max-width: 100%;
        }
    
        &_title {
            padding: 0 .5rem;
            justify-self: center;
           background-color: var(--background);
           z-index: 1;

           &_txt {
            font-size: 1.2rem;
            text-align: center;
           }
        }
    }

    &_bio {
        border: 1px solid var(--accent);
        border-radius: 0.5rem;
        padding: 1rem; 
        margin: -2.5rem 2rem 0 2rem;
    }

}