.comments {
    padding: 0 1rem;
    margin-bottom: 12vh;

    &_heading {
        text-align: center;
    }
}

.comment {
    border: 1px solid var(--tiny-border);
    border-radius: .3rem;
    margin: 1rem 0;

    &_content, &_post {
        padding: 0 1rem;
    }

    &_content {
        text-align: center;
        word-break: break-all;
        border-bottom: 1px solid var(--tiny-border);
    }
}