.menu {
    z-index: 0;
    position: absolute;
    top: 4rem;
    width: 60vw;
    height: 80vh;
    padding-top: 5%;
    right: 0;
    background-color: var(--background);
    mix-blend-mode: lighten;
    
    
    &_container {
        display: grid;
        grid-template-columns: 35% 65%;
        align-items: center;
    }

    &_title {
        font-size: 1.3rem;
        text-align: start;
    }

    &_link {
        border-radius: 1rem;
        justify-self: center;
    }

    &_icon {
        color: var(--accent);
        font-size: 1.3rem;
        justify-self: center;
    }


    
}