.headermenu {
    position: fixed;
    top: 0;
    background-color: var(--background);
    padding: 1rem 0;
    height: 6vh;
    z-index: 2;
    display: grid;
    align-items: center;
    grid-template-columns: 80vw 20vw;

    &_acc {
        font-size: 1.8rem;
    }

    &_user {
        color: var(--text-primary);
        font-size: 1.6rem;
        justify-self: center;

        &_hitbox {
           
            height: 2.5rem;
            width: 2.5rem;
            display: grid;
            justify-content: center;
            align-items: center;
        }

        &_img {
            border-radius: .3rem;
            width: 2rem;
            height: auto;
        }
    }

    &_title {
        width: 40%;
       
        &_txt {
            color: var(--text-primary);
            justify-self: start;
            padding-left: 1rem;
            font-size: 1.7rem;
            font-family: "Syncopate";
            margin: 0;
        }
    }
}