.headermenu {
    position: fixed;
    top: 0;
    background-color: var(--background);
    padding: 1rem 0;
    height: 6vh;
    z-index: 2;
    display: grid;
    align-items: center;
    grid-template-columns: 80vw 20vw;

    &_user {
        color: var(--text-primary);
        font-size: 1.6rem;
        justify-self: center;
    }

    &_back {
        padding-left: 1vw;
    }

    &_forward {
        padding-right: 1rem;
        justify-self: end;
    }

    &_title {
        justify-self: start;
        padding-left: 1rem;
        font-size: 1.7rem;
        font-family: "Syncopate";
        margin: 0;
    }
}