.mobile_menu {
  background: var(--background);
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;

  &__container {
    padding: 1rem 0;
    width: 95%;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }

  &__link {
    color: var(--text-primary);
    font-size: 2rem;
    text-decoration: none;

    &:hover {
      color: var(--accent);
      cursor: pointer;
    }
  }

  &__link:first {
    row-gap: 1rem;
  }

  &__btn {
    z-index: 2;
    background-color: var(--background);
    color: var(--text-primary);
    font-size: 2rem;
    border: none;
    width: 100%;

    &:hover {
      color: var(--accent);
      cursor: pointer;
    }
  }
}