.mobile_menu {
  background: var(--background);
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;

  &__container {
    padding: 1rem 0;
    width: 95%;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }

  &__toggle {
    font-size: 2rem;
    text-decoration: none;
  }

  &__link:first {
    row-gap: 1rem;
  }

  &__btn {
    z-index: 2;
    background-color: var(--background);
    color: var(--text-primary);
    font-size: 2rem;
    border: none;
    transition: color 1s ease-in-out;

    &:focus-visible {
      outline: none;
    }

    &:hover {
      color: var(--accent);
      transition: color 2.5s ease;
      cursor: pointer;
    }
  }
}

.toggleCat {
  transform: rotateX(180deg);
  transition: transform .6s ease-out;

  &:hover {
    color: var(--accent);
    cursor: pointer;
  }
}

.hideCat {
  transform: rotateX(0);
  transition: transform 0.3s ease-out;
  color: var(--text-primary);
}

.toggleSearch {
  display: block;
}

.hideSearch {
  display: none;
}
