.search {
    width: 100%;
    
    &__form {
        background-color: var(--background);
        z-index: 1;
        display: flex;
        justify-content: center;
        padding: 1rem 0;
        border-bottom: 1px solid rgba(201, 201, 201, 0.363);
        position: fixed;
        top: 0;
        width: 100%;
    }

    &__input {
        background-color: var(--background);
        width: 90%;
        padding: 0.5rem;
        color: var(--text-primary);
        border: 1px solid var(--text-primary);
        opacity: 1;
        border-radius: .7rem;

        &:focus-visible {
            border: none;
            opacity: 100;
            outline: 2px solid var(--accent);
        }
    }
}

.search_results {
    width: 100%;
    padding-top: 4.25rem;
}

.search_result {
    display: grid;
    align-items: center;

   &__title_container {
    padding: .2rem 0 .8rem 0;
    max-width: 100%;
   }

    &__title {
        max-width: 100%;
        z-index: 1;
        text-align: center;
        text-transform: capitalize;
        font-size: 1.2rem;
    }

    &__img {
      max-width: 100%;
    }
}

