html {
  background-color: var(--background);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin-left: 100px;
}

:root {
  --background: white;
  --text-primary: black;
  --text-secondary: rgb(16, 16, 16);
  --accent: darkred;
  --underline: rgba(0, 0, 0, 0.199);
}

[data-theme='dark'] {
  --background: rgb(16, 16, 16);
  --text-primary: white;
  --text-secondary: rgb(201, 201, 201);
  --accent: rgba(228, 127, 127, 0.788);
  --underline: rgba(211, 211, 211, 0.171);
}

.app {
  color: var(--text-primary);
  background-color: var(--background);
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--accent);
}