.search {
  width: 100%;
  background-color: var(--background);
  z-index: 1;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  position: fixed;
  top: 18vw;
}

.search_input {
  background-color: var(--background);
  width: 90%;
  padding: 0.5rem;
  color: var(--text-primary);
  border: 1px solid var(--text-primary);
  opacity: 1;
  border-radius: 0.7rem;

  &:focus-visible {
    border: none;
    opacity: 100;
    outline: 2px solid var(--accent);
  }
}

.no_posts {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: var(--text-secondary);
  background-color: var(--background);
}
