.container {
    padding: 0;
    margin: 0;
    width: 100vw;
}

.single_post {

    &__image {
        max-width: 100%;
    }

    &__title {
        font-size: 1.2rem;
        padding: 1.5rem;
    }
}

.article {
    padding: 0 1.5rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    color: var(--text-secondary);
}

.hide {
    display: none;
}

.accordion_btn {
    border: none;
}
