.container {
    padding: 0;
    margin: 0;
    width: 100vw;
}

.single_post {
    padding-top: 4rem;

    &__image {
        max-width: 100%;
    }

    &__title {
        font-size: 1.2rem;
        padding: 1.5rem;
    }

    &__author {
        display: grid;
        grid-template-columns: 3.5rem 11rem;
        margin-bottom: 1rem;
        column-gap: .6rem;
    
        &_img {
            justify-self: end;
            grid-column: 1;
            border-radius: 0.55rem;
        }

        &_name {
            grid-column: 2;
            align-self: center;
        }
    }
}

.article {
    padding: 0 1.5rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    color: var(--text-secondary);
}

.hide {
    display: none;
}

.border_b {
    border-bottom: 1px solid var(--tiny-border);
}

.toc {
    display: grid;
    align-items: center;
    height: 4rem;

    &_title {
        margin-left: 1rem;
        grid-column: 1;
    }

    &_btn {
        margin-right: 1rem;
        color: var(--accent);
        background-color: var(--background);
        border: 1px solid var(--tiny-border);
        border-radius: .5rem;
        justify-self: end;
        grid-column: 2;
        height: 4vh;
        width: 20vw;
    }
}
